.nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #eff3f7;
  z-index: 1;
}

.nav .nav__items {
  font-size: 20px;
  text-decoration: none;
  font-weight: 300;
  color: black;
  padding: 5px;
  margin: 20px;
}

.nav .nav__items:hover {
  text-decoration: underline;
}
